<footer class="container mx-0  my-auto footer-style">
	<nav class="navbar-brand navbar-style">
		<div class="text-center media-style">
			<img src="{{ asset('assets/images/icone/logoOriginal1080X1080.png') }}" height="100px" alt="">
			<div class="text-center icons">
				<div class="border-bottom">
					<h5 class="text-white mr-3">Suivez-nous</h5>
				</div>
				<div class="my-2">
					<img class="mx-2" src="{{ asset('assets/images//icone/facebook.png') }}" alt="" height="20px"/>
					<img src="{{ asset('assets/images//icone/twitter.png') }}" alt="" height="20px"/>
				</div>
			</div>
		</div>
	</nav>
</footer>
