{% extends "base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col">
        <p>
            <a href="{{path('user_annonces_publiées')}}" class="btn btn-primary mx-2 my-2 my-sm-0">Retour</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-6">
        {%  if candidats is defined %}
            {% for candidat in candidats %}
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{candidat.prenom}} {{candidat.nom}}
                        </h4>
                        <a href="{{path('accepter_candidature', {'id' : annonce.id, 'candidatId' : candidat.id})}}" class="btn btn-primary mx-2 my-2 my-sm-0">Choisir comme tuteur</a>
                        <p class="card-text"></p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-5"></div>
</div>
{% endblock %}



