<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% block stylesheets %}{% endblock %}


		</head>
		<body>
			{% include "Partials/header.html.twig" %}

			{% block body %}{% endblock %}

			{% include "Partials/footer.html.twig" %}
			<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
			<script defer src="{{ asset('js/bootstrap.bundle.js') }}"></script>
			{% block javascripts %}{% endblock %}


		</body>
	</html>
