<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css"> 
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% block stylesheets %}{% endblock %}


		</head>
		<body>
			{% include "Partials/header.html.twig" %}

			{% block body %}{% endblock %}

			{% include "Partials/footer.html.twig" %}

			<script defer src="{{ asset('js/jQuery.js') }}"></script>
			<script defer src="{{ asset('js/bootstrap.bundle.js') }}"></script>
			<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
			{% block javascripts %}{% endblock %}


		</body>
	</html>
